<div *ngIf="session">
  <h1>{{currentParticipant?.name || 'Admin'}} @ {{session.name}} [<a routerLink="/join/{{sessionId}}">share</a>]</h1>
  <p>Participants ({{participants.length}}): <span *ngFor="let participant of participants; let isLast=last"> <span
    [class.current]="participant.id===currentParticipant?.id">{{participant.name}}</span>{{isLast ? '' : ', '}}</span>
  </p>
  <app-voting-pad *ngIf="votingStory && !isAdmin" [story]="votingStory"
                  [confirmedVote]="votingStory.votes[currentParticipant.id]"
                  (vote)="httpStorage.vote($event)"></app-voting-pad>
  <table>
    <tr>
      <th>Story</th>
      <th *ngFor="let participant of participants" [class.current]="participant.id===currentParticipant?.id">
        {{participant.name}}
      </th>
    </tr>
    <tr *ngFor="let story of session.stories; let isLast=last; let isFirst=first"
        [class.voting]="story.votingInProgress">
      <td class="story">{{story.name}}<br>
        <span *ngIf="isAdmin">
          <button *ngIf="!story.votingInProgress" type="button" title="Start voting"
                  (click)="httpStorage.startVoting(story.id)">Start</button>
          <button *ngIf="story.votingInProgress" type="button" title="Stop voting"
                  (click)="httpStorage.stopVoting()">Stop</button>
          <button *ngIf="isAdmin" type="button" title="Edit story">Edit</button>
          <button *ngIf="isAdmin" type="button" title="Delete story">Delete</button>
          <button *ngIf="!isFirst" type="button" title="Move story up"
                  (click)="httpStorage.moveStoryUp(story.id)">Up</button>
          <button *ngIf="!isLast" type="button" title="Move story down"
                  (click)="httpStorage.moveStoryDown(story.id)">Down</button>
        </span>
      </td>
      <td *ngFor="let participant of participants" [class.current]="participant.id===currentParticipant?.id">
        {{story.votes[participant.id]}}
      </td>
    </tr>
  </table>

  <form *ngIf="isAdmin"><input type="text" name="name" [(ngModel)]="newStoryName" placeholder="Story name...">
    <button type="submit" (click)="addStory(newStoryName)">Add Story</button>
  </form>
</div>
