h1 {
  text-align: center;
  margin: 0 0 10px;
}

table {
  margin: 0 auto;
  border-spacing: 2px;
  table-layout: fixed;
}

th {
  font-size: 80%;
  font-weight: normal;
  background-color: #666;
  color: #fff;
  padding: 8px 10px;
}

th a {
  color: inherit;
  text-decoration: none;
}

th a:hover, th a:focus {
  color: inherit;
  text-decoration: underline;
}

td {
  background-color: #f8f8f8;
  padding: 8px 10px;
}

tr.voting td {
  background-color: #d7e9f8;
}

.story {
  width: 250px;
  max-width: 250px;
}

.story span {
  display: block;
  margin: 2px 0;
}

.story button {
  font-size: 70%;
  padding: 3px 4px 2px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.story button:hover, .story button:focus {
  background-color: #aaa;
  color: white;
}

th button {
  font-size: 70%;
  padding: 3px 4px 2px;
  background-color: #888;
  color: #fff;
  border: none;
  cursor: pointer;
}

th button:hover, .story button:focus {
  background-color: #aaa;
  color: white;
}

.score {
  text-align: center;
  width: 80px;
  max-width: 80px;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

td.score.current {
  /*font-weight: bold;*/
  background-color: #f0f0f0;
}

span.current {
  font-weight: bold;
}

th.current {
  font-weight: bold;
}

form {
  text-align: center;
  margin: 20px auto 0;
}

form button {
  background-color: white;
  border: solid 1px #aaa;
  padding: 4px 6px;
  cursor: pointer;
}

form input[type="text"], textarea {
  width: 300px;
  background-color: white;
  border: solid 1px #aaa;
  padding: 4px 6px;
}

form > * {
  vertical-align: top;
}
