<div *ngIf="session">
  <h1>{{currentParticipant?.name || (isAdmin?'Admin':'Observer')}} @ {{session.name}}
    <a routerLink="/join/{{sessionId}}" title="Invite more people to join"><i class="ti-share"></i></a></h1>
  <app-voting-pad *ngIf="votingStory && currentParticipant" [story]="votingStory"
                  [confirmedVote]="votingStory.votes[currentParticipant.id]"
                  [deck]="session.deck"
                  (vote)="httpStorage.vote($event)"></app-voting-pad>
  <table>
    <tr>
      <th class="story">Story</th>
      <th *ngFor="let participant of participants" class="score"
          [class.current]="participant.id===currentParticipant?.id">
        <span *ngIf="isAdmin"><a routerLink="/play/{{sessionId}}/{{participant.id}}">{{participant.name}}</a><br>
          <button type="button" title="Edit participant"
                  (click)="editParticipant(participant.id)"><i class="ti-pencil"></i></button>
        </span>
        <span *ngIf="!isAdmin">{{participant.name}}</span>
      </th>
    </tr>
    <tr *ngFor="let story of session.stories; let isLast=last; let isFirst=first"
        [class.voting]="story.votingInProgress">
      <td class="story">{{story.name}}<br>
        <span *ngIf="isAdmin">
          <button *ngIf="!story.votingInProgress" type="button" title="Start voting"
                  (click)="httpStorage.startVoting(story.id)"><i class="ti-control-play"></i></button>
          <button *ngIf="story.votingInProgress" type="button" title="Stop voting"
                  (click)="httpStorage.stopVoting()"><i class="ti-control-stop"></i></button>
          <button *ngIf="isAdmin" type="button" title="Edit story"
                  (click)="editStory(story.id)"><i class="ti-pencil"></i></button>
          <button *ngIf="isAdmin" type="button" title="Delete story"
                  (click)="httpStorage.deleteStory(story.id)"><i class="ti-trash"></i></button>
          <button *ngIf="!isFirst" type="button" title="Move story up"
                  (click)="httpStorage.moveStoryUp(story.id)"><i class="ti-arrow-up"></i></button>
          <button *ngIf="!isLast" type="button" title="Move story down"
                  (click)="httpStorage.moveStoryDown(story.id)"><i class="ti-arrow-down"></i></button>
        </span>
      </td>
      <td *ngFor="let participant of participants" class="score"
          [class.current]="participant.id===currentParticipant?.id">
        <span *ngIf="hideVote(story, participant) && story.votes[participant.id]"><i class="ti-face-smile"></i></span>
        <span *ngIf="!hideVote(story, participant)">{{story.votes[participant.id]}}</span>
      </td>
    </tr>
  </table>

  <form *ngIf="editingParticipant">
    <input type="text" name="name" [(ngModel)]="editingParticipantName" placeholder="Participant name...">
    <button type="submit" (click)="saveParticipantEdit()">Save</button>
    <button type="button" (click)="cancelParticipantEdit()">Cancel</button>
    <button type="button" (click)="deleteEditingParticipant()">Delete</button>
  </form>

  <form *ngIf="editingStory">
    <input type="text" name="name" [(ngModel)]="editingStoryName" placeholder="Story name...">
    <button type="submit" (click)="saveStoryEdit()">Save</button>
    <button type="button" (click)="cancelStoryEdit()">Cancel</button>
  </form>

  <form *ngIf="isAdmin">
    <textarea name="name" [(ngModel)]="newStoryNames" placeholder="Story names (one per row)..." rows="4"></textarea>
    <button type="submit" (click)="addStories()">Add Stories</button>
  </form>

  <form *ngIf="isAdmin">
    <button type="button" (click)="saveReport()">Save Report</button>
  </form>
</div>
